# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
venv/
.env

# Database
*.db
*.sqlite3

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Logs
logs/
*.log

# OS Files
.DS_Store
Thumbs.db
